.menu {
    width:100%;
    height:30px;
    border:1px #cacaca solid;
    background-color:#eee;
    margin-bottom:30px;
}

.menu a {
    float:left;
    width:150px;
    text-align:center;
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    vertical-align: middle;
}

.menu a:hover {
    background-color:#fff;
    border-color:#444;
}

.edit textarea {
    width:500px;
    height:500px;
}

.author {
    background-color:#eee;
    padding:3px;
}

.before, .after {
    font-style: italic;
    margin-top:20px;
}

.list td, .list th {
    padding:3px;
    border:0;
    margin:0;
}

.list th {
    background-color:#c9c9c9
}

table.list {
    border:1px solid #ccc;
    padding:0;
    margin:0;
    border-spacing: 0;
    border-collapse: collapse;
}

.list tr.bg1 {
    background-color:#eee;
}