a {
    text-decoration: underline;
    color:#009;
}

a:hover {
    cursor:pointer;
}

.menu {
    width:100%;
    height:30px;
    border:1px #cacaca solid;
    background-color:#eee;
    margin-bottom:30px;
}

.menu a {
    float:left;
    width:160px;
    text-align:center;
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    vertical-align: middle;
}

.menu a:hover {
    background-color:#fff;
    border-color:#444;
}

.edit textarea {
    width:500px;
    height:500px;
}

p.alone {
    margin-top:20px;
    margin-bottom:20px;
}

#roundcounter {
    float:right;
    color:#009;
}

#online {
    font-style: italic;
}

.author {
    background-color:#eee;
    padding:3px;
}

.before, .after {
    font-style: italic;
    margin-top:20px;
}

.list td, .list th {
    padding:3px;
    border:0;
    margin:0;
}

.list th {
    background-color:#c9c9c9
}

table.list {
    border:1px solid #ccc;
    padding:0;
    margin:0;
    border-spacing: 0;
    border-collapse: collapse;
}

.list tr.bg1 {
    background-color:#eee;
}

.part_content {
    white-space: pre-line;
}

.part_name {
    font-weight: bold;
}

/* message bar */
#messagebar {
    right:0;
    float:right;
    overflow:auto;
    width:300px;
    height:100%;
    background-color:#ccc;
}

#messagebar p.message {
    border-bottom: 1px solid #000;
    margin:0;
}

#messagebar p.message span.msgauthor {
    font-weight: bold;
}

#messagebar p.message span.messageContent {
    font-style: italic;
}
#messagebar p.message span.messageDate {
    float:right;
    clear:right;
}

.part_doubleValue {
    font-style: italic;
}
.part_doubleValue .title {
    font-weight: bold;
    font-style: normal;
}
