@(global: IntegratedStory, templateParts:List[TemplatePart], template:Template, indexData: IndexData)

@index(indexData) {
    <h2>@global.name</h2>
    <p class="author">Story composed by <strong>@global.author.name</strong>, last modified on
        <strong>@global.modificationDateFormatted</strong></p>

    @if(template.doubleValueName!=null && template.doubleValuesSummed) {
        <p class="part_doubleValue">
            <span class="title">Total @template.doubleValueName: </span>
            @global.partSumFormatted
        </p>
    }

    @if(global.parts.size > 0) {
        @for(p <- global.parts) {
            <p class="before">@p.template.beforeText</p>
            <p class="part_content">@p.content</p>
            @if(template.doubleValueName!=null) {
                <p class="part_doubleValue">
                    <span class="title">@template.doubleValueName: </span>
                        @p.doubleValueFormatted
                </p>
            }
            <p class="after">@p.template.afterText</p>
            @if(p.template.titleForURLField!=null) {
            <p class="after">@p.url</p>
            }
            @if(p.template.titleForImageField!=null && !p.image.isEmpty) {
            <p class="after"><img src="/image/@p.image.get" height="100"/> </p>
            }
        }
    }else{
        No data yet.
    }

    @if(template.globalSummaryTitle!=null){
        <p><strong>@template.globalSummaryTitle</strong></p>
        <p>@global.summary</p>
    }

    <p><a href="/global">back to overview</a></p>
}