@(data: List[IntegratedStory], indexData: IndexData, counter: Counter = new Counter())

    @index(indexData) {


        <a href="/global/create">Create Integrated story</a>

        @if(data.size > 0) {
            <table class="list">
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Creation date</th>
                    <th>Last modification</th>
                    <th>&nbsp;</th>
                </tr>
                @for(g <- data) {
                    <tr class="bg@(counter.incrementAndGet() % 2)">
                        <td>@g.name</td>
                        <td>@g.author.name</td>
                        <td>@g.creationDateFormatted</td>
                        <td>@g.modificationDateFormatted</td>
                        <td>
                        @if(g.author.id == indexData.user.id || indexData.user.isAdmin) {
                            <a href="/global/edit/@g.id">                                edit
                            </a>
                        } else {
                            <a href="/global/show/@g.id">show</a>
                        }
                        </td>
                    </tr>
                }
            </table>
        }else{
            No Integrated story yet
        }
    }