@(data: List[IntegratedStory], indexData: IndexData, counter:Counter = new Counter())

    @index(indexData) {


        <a href="/global/new">Create Integrated story</a>

        @if(data.size > 0) {
            <table class="list">
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Last modification</th>
                    <th>&nbsp;</th>
                </tr>
                @for(g <- data) {
                    <tr class="bg@(counter.incrementAndGet() % 2)">
                        <td>@g.name</td>
                        <td>@g.author.name</td>
                        <td>@g.modificationDateFormatted</td>
                        <td>show</td>
                    </tr>
                }
            </table>
        }
    }