@(indexData: IndexData, counter: Counter = new Counter())

@index(indexData) {



    <p>
        Thank you for agreeing to participate in our experiment.  Our goal in this experiment is to create the best possible love story in 1 hour.  As promised in your HIT, everyone in the study receives 50 cents just for registering their user name and showing up.  An additional $16 will be divided as described below to those who help to write the best love story this hour.</p>



    <p>
        Our love story is a three part story:  Part 1 tells the story of how our characters first meet, Part 2 tells the story of their first date, and Part 3 explains what happens after and concludes.  Do they live happily ever after?</p>



    <p>

        You can participate in two ways:

<ol>
    <li>you can write any one (or more) of the three parts of the story itself, and/or</li>


    <li>you can select three parts of the story to make a story submission by using the tab that says "Integrated Story".</li>


</ol>
    At 4:00 pm EST, all of the complete story submissions will be reviewed and the person who submitted the best complete story will be awarded $1. If the same complete story is submitted by multiple users, the first person to submit that story will be awarded. The authors of the three parts used in that complete story submission will each receive $5.  You are welcome to write more than one part and/or make a complete submission by selecting three parts.  When you are ready, use the tabs to start.  Thank you for participating!</p>


}