@(index: IndexData)(content: Html = Html(""))


@main("Welcome to CrowdIncentive") {

    <h1>Welcome @index.user.name
    <span id="roundcounter"></span>
    </h1>

    <div class="menu">
        <a href="/">Home</a>
        @if(index.user.isAdmin) {
            <a href="/admin" style="color:#900">Admin</a>
        }
        <a href="/global">@index.template.globalName</a>
        @for(p <- index.templateParts) {
            <a hreF="/part/@p.id">@p.name</a>
        }
    </div>

    <table>
        <tr>
            <td width="100%" style="padding-right:30px; vertical-align: top;">
                <div id="content">
                @content
                </div>

            </td>
            <td style="vertical-align: top; border:1px solid #000000;">
                <h1>Chat</h1>
                <form id="sendmessage" onsubmit="return sendMessage();">
                    <input type="text" id="messagetext" name="message"  style="width:240px;" />
                    <input type="submit" value="send" />
                </form>
                <div id="messagebar">

                </div>
            </td>
        </tr>
    </table>

    <script type="text/javascript">

        function calculateRemainingTime() {
            var id = document.getElementById("roundcounter");
            var roundEnd = new Date(@index.round.endTime.getTime);
            var now = new Date();
            var distance = roundEnd - now;

            if (distance < 0) {
                id.innerText = 'Round ended';
                return;
            }

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;

            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            id.innerText = minutes+":"+seconds+" remaining.";
        }
        calculateRemainingTime();

        function sendMessage() {
            $.ajax({
                type:"post",
                data: $("#sendmessage" ).serialize(),
                url:"/messages/public",
                success: function(data) { document.getElementById("messagetext" ).value=""; }
            })
            return false;
        }

        function refreshMessages() {
        $.ajax({
            type:"get",
            format:"text/html",
            url:"/messages",
            success: function(data, textStatus) {
                var msgBar = document.getElementById("messagebar");
                msgBar.innerHTML ="";
                var js = $.parseJSON(data);
                $.each(js.messages, function(key, value) {
                   //parse single message of format
                   //{ "messages":[{"id":1,"from":{"id":1,"name":"java.lang.String"},"to":-1,"createDate":"2013-12-12 16:01:35.0","body":"asdf\t"}] }

                var htmlStr = '<p class="message"><span class="msgauthor">'+value.from.name+':</span>';
                htmlStr += '<span class="messageDate">'+value.createDate+'</span>';
                htmlStr += '<span class="messageContent">'+value.body+'</span></p>';

                msgBar.innerHTML+= htmlStr;
                });
            },
            error: function(data) {
                //alert("couldnt parse message response. " + data);
            }

        })
        }
        refreshMessages();

        window.setInterval(function() { calculateRemainingTime(); }, 1000);
        window.setInterval(function() { refreshMessages(); }, 2000);
    </script>
}