@(global: IntegratedStory, templateParts:List[TemplatePart], template:Template)

@main("Welcome to CrowdIncentive") {
    <h2>@global.name</h2>

    @if(template.globalSummaryTitle!=null){
        <p><strong>@template.globalSummaryTitle</strong></p>
        <p>@global.summary</p>
    }

    @if(template.doubleValueName!=null && template.doubleValuesSummed) {
        <p class="part_doubleValue">
            <span class="title">Total @template.doubleValueName: </span>
            @global.partSumFormatted
        </p>
    }

    @if(global.parts.size > 0) {
        @for(p <- global.parts) {
            <div class="part_outlet">
            <h3>@p.name</h3>
            <p class="before">@p.template.beforeText</p>
            <p class="part_content">@p.content</p>
            @if(template.doubleValueName!=null) {
                <p class="part_doubleValue">
                    <span class="title">@template.doubleValueName: </span>
                    @p.doubleValueFormatted
                </p>
            }
            <p class="after">@p.template.afterText</p>
            </div>
        }
    }else{
        No data yet.
    }
}