@(global: IntegratedStory, templateParts:List[TemplatePart], template:Template)

@main("Welcome to CrowdIncentive") {
    <h2>@global.name</h2>

    @if(template.globalSummaryTitle!=null){
        <p><strong>@template.globalSummaryTitle</strong></p>
        <p>@global.summary</p>
    }

    @if(template.doubleValueName!=null && template.doubleValuesSummed) {
        <p class="part_doubleValue">
            <span class="title">Total @template.doubleValueName: </span>
            @global.partSumFormatted
        </p>
    }

    @if(global.parts.size > 0) {
        @for(p <- global.parts) {
            <div class="part_outlet">
            <h3>@p.name</h3>
            <p class="before">@p.template.shortText</p>
            <p class="part_content">@p.content</p>
            @if(template.doubleValueName!=null) {
                <p class="part_doubleValue">
                    <span class="title">@template.doubleValueName: </span>
                    @p.doubleValueFormatted
                </p>
            }
            <p class="after">@p.template.afterText</p>
                @if(p.template.titleForURLField!=null && !p.url==null) {
                    <p class="part_doubleValue"><span class="title">@p.template.titleForURLField: </span> @p.url</p>
                }
                @if(p.template.titleForImageField!=null && !p.image.isEmpty) {

                    <p class="part_doubleValue">
                        <span class="title">@p.template.titleForImageField: </span>
                        <a href="/image/@p.image" target="_blank"><img  src="/image/@p.image" height="100" /></a>
                    </p>
                }
            </div>
        }
    }else{
        No data yet.
    }
}