@(message: String = "")

@main("Welcome to CrowdIncentive") {

    <h1>Login to your user account</h1>
    <p style="color : #900">@message</p>

    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td><input type="submit" vaue="login"/></td>
            </tr>
        </table>
    </form>


    If you don't have an account yet, please <a href="/register">register one here</a>.
}