@(message: String = "")

@main("Welcome to CrowdIncentive") {

    <h1>The experiment is now active, please login now to get started</h1>

   <p class="alone" style="font-weight: bold; color:#A22"> Please <a href="/register">register</a> with your code here first and then login to begin</p>


    <p style="color : #900">@message</p>

    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td><input type="submit" vaue="login"/></td>
            </tr>
        </table>
    </form>


    <p class="alone">If you don't have an account yet, please <a href="/register">register one here</a>.</p>
}