@(part: StoryPart, templatePart: TemplatePart, template:Template, indexData: IndexData)

@index(indexData) {
    <h2>@templatePart.name: @part.name</h2>
    <p class="author">Part authored by <strong>@part.author.name</strong>, last modified on
        <strong>@part.modificationDateFormatted</strong>
    @if(indexData.user.isAdmin) {
        , code of author <strong>@part.author.code</strong>
    }
    </p>

    <p class="before">@templatePart.beforeText</p>

    <p class="part_content">@part.content</p>

    @if(template.doubleValueName!=null) {
        <p class="part_doubleValue"><span class="title">@template.doubleValueName: </span> @part.doubleValueFormatted</p>
    }
    @if(templatePart.titleForURLField!=null && part.url != null) {
        <p class="part_doubleValue"><span class="title">@templatePart.titleForURLField: </span> @part.url</p>
    }
    @if(templatePart.titleForImageField!=null && !part.image.isEmpty) {

        <p class="part_doubleValue">
            <span class="title">@templatePart.titleForImageField: </span>
            <a href="/image/@part.image" target="_blank"><img  src="/image/@part.image" height="100" /></a>
        </p>
    }

    <p class="after">@templatePart.afterText</p>

    <p><a href="/part/@templatePart.id">back to overview</a></p>


    @if(indexData.user.isAdmin && part.id >=0) {
        <form action="/admin/part/copy" method="post" enctype="application/x-www-form-urlencoded">
            Copy this item to round <input type="text" name="target" /><input type="submit" value="copy" />
            <input type="hidden" name="part" value="@part.id"/>
        </form>
    }
}