@(data: List[StoryPart], part:TemplatePart, indexData: IndexData)

    @index(indexData) {


        <a href="/part/@part.id/create">Create new @part.name</a>

        @if(data.size > 0) {
            <table class="list">
                <tr>
                    <th>Name</th>
                    <th>Last modification</th>
                    <th>&nbsp;</th>
                </tr>
                @for(p <- data) {
                    <tr>
                        <td>@p.name</td>
                        <td>@p.modificationDateFormatted</td>
                        <td>show</td>
                    </tr>
                }
            </table>
        }
    }