@(part: StoryPart, templatePart: TemplatePart, template:Template, indexData: IndexData)

@index(indexData) {
    <script type="text/javascript">
        function checkForm() {
            var ret = true;
            var msg = "";
            @if(template.doubleValueName!=null) {
                ret = document.getElementById("doubleValue" ).value.isNumeric
                if(!ret) msg = "Please enter a numeric value into @template.doubleValueName";
            }
            if(!ret) alert(msg);

            return ret;
        }
    </script>

    @templatePart.beforeText
    <form action="/part/@templatePart.id/save/@part.id" method="post" enctype="multipart/form-data" class="edit" onsubmit="return checkForm();">
        <table class="form">
            <tr>
                <th>Title</th>
                <td><input type="text" name="name" value="@part.name" /></td>
            </tr>
            <tr>
                <th>Content</th>
                <td><textarea name="content">@part.content</textarea></td>
            </tr>
            @if(template.doubleValueName != null) {
            <tr>
                <th>@template.doubleValueName</th>
                <td><input type="text" name="doubleValue" value="@part.doubleValueFormatted"/></td>
            </tr>
            }
            @if(templatePart.titleForURLField!=null) {
                <tr>
                    <th>@templatePart.titleForURLField</th>
                    <td><input type="text" name="url" value="@part.url" /></td>
                </tr>
            }
            @if(templatePart.titleForImageField!=null) {
                <tr>
                    <th>@templatePart.titleForImageField</th>
                    <td>
                        <input type="file" name="image" />

                        @if(!part.image.isEmpty) {
                            <a href="/image/@part.image" target="_blank"><img src="/image/@part.image" height="100" /></a>
                        }

                    </td>
                </tr>
            }
            <tr>
                <th><a href="/part/@templatePart.id" onclick="return confirm('all changes will be lost if you cancel')">cancel</a></th>
                <td><input type="submit" value="save" /></td>
            </tr>
        </table>
        @templatePart.afterText
    </form>


    @if(indexData.user.isAdmin && part.id >=0) {
        <form action="/part/copy" method="post" enctype="application/x-www-form-urlencoded">
            Copy this item to round <input type="text" name="target" /><input type="submit" value="copy" />
            <input type="hidden" name="part" value="@part.id"/>
        </form>
    }
}