@(part: StoryPart, template: TemplatePart, indexData: IndexData)

@index(indexData) {
    <h2>@template.name: @part.name</h2>
    <p class="author">Part authored by <strong>@part.author.name</strong>, last modified on
        <strong>@part.modificationDateFormatted</strong>
    @if(indexData.user.isAdmin) {
        , code of author <strong>@part.author.code</strong>
    }
    </p>

    <p class="before">@template.beforeText</p>

    <p class="part_content">@part.content</p>

    <p class="after">@template.afterText</p>

    <p><a href="/part/@template.id">back to overview</a></p>
}