@(data: List[StoryPart], part: TemplatePart, template:Template, indexData: IndexData, counter: Counter = new Counter())

@index(indexData) {

    <p><a href="/part/@part.id/create">Create new @part.name</a></p>

    @if(data.size > 0) {
        <table class="list">
            <tr>
                <th>Name</th>
                @if(template.doubleValueName!=null) {
                    <th>@template.doubleValueName</th>
                }
                <th>Author</th>
                <th>Last modification</th>
                <th>&nbsp;</th>
            </tr>

            @for(p <- data) {
                <tr class="bg@(counter.incrementAndGet() % 2)">
                    <td>@p.name</td>
                    @if(template.doubleValueName!=null) {
                        <td>@p.doubleValueFormatted</td>
                    }
                    <td>@p.author.name</td>
                    <td>@p.modificationDateFormatted</td>
                    <td>
                        @if(p.author.id == indexData.user.id) {
                            <a href="/part/@part.id/edit/@p.id">edit</a>
                        }else{
                            <a href="/part/@part.id/show/@p.id">show</a>
                        }
                    </td>

                </tr>
            }
        </table>
    }else{
        No @part.name yet
    }
}