@(round: Round, onlineUsers:List[User], pings: List[Ping], globals:List[IntegratedStory], templateParts:List[TemplatePart], indexData: IndexData, isInsert: Boolean = false, counter: Counter = new Counter())

    @index(indexData) {
        <form action="/admin/save/@round.id" method="post" enctype="application/x-www-form-urlencoded" class="edit">
            <table>
                <tr>
                    <th>Description</th>
                    <td><input type="text" name="description" value="@round.description" /></td>
                </tr>
                <tr>
                    <th>Start Date/Time</th>
                    <td><input type="text" name="startTime" value="@round.startTimeFormatted" /> <i>
                        example: 2013-12-15 05:51:09</i></td>
                </tr>
                <tr>
                    <th>End Date/Time</th>
                    <td><input type="text" name="endTime" value="@round.endTimeFormatted" /> <i>
                        example: 2013-12-15 05:51:09</i></td>
                </tr>
                <tr>
                    <th>Template ID</th>
                    <td><input type="text" name="templateId" value="@round.templateId" /></td>
                </tr>
                <tr>
                    <th>Home Text</th>
                    <td><textarea name="hometext">@round.home</textarea></td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td><textarea name="notes">@round.notes</textarea></td>
                </tr>

                @if(isInsert) {
                    <tr>
                        <th>round ID of which stories should be copied from</th>
                        <td><input type="text" name="prevround" />
                            <input type="checkbox" name="includeIntegrated" value="1" checked /> Include integrated stories
                        </td>
                    </tr>
                }
                <tr>
                    <th><a href="/admin" onclick="return confirm ( 'all changes will be lost if you cancel' )">
                        cancel</a></th>
                    <td><input type="submit" value="save" /></td>
                </tr>
            </table>
        </form>


        @if(onlineUsers.size > 0) {
            <h1>Online Users</h1>
            <table class="list" style="margin-top : 30 px ;">
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Code</th>
                    <th>Round</th>
                </tr>
                @for(p <- onlineUsers) {
                    @if(p.name != "pdeboer" && p.name != "erik") {
                        <tr class="bg@(counter.incrementAndGet() % 2)">
                            <td>@p.id</td>
                            <td>@p.name</td>
                            <td>@p.code</td>
                            <td>@p.round</td>
                        </tr>
                    }
                }
            </table>
        }

        @if(globals.size > 0) {
            <h1>Global proposals</h1>
            copy paste this table into an Excel sheet and save it as CSV
            <table class="list" style="margin-top : 30 px ;">
                <tr>
                    <th>URL</th>
                    <th>Global Story Turker</th>
                    @for(p<-templateParts) {
                        <th>@p.name</th>
                    }
                </tr>
                @for(g<-globals) {
                    <tr class="bg@(counter.incrementAndGet()%2)">
                        <td>
                            http://kcc.mit.edu:9000/outlet/@round.id/@g.id
                        </td>
                        <td>
                            @g.author.code
                        </td>
                        @for(p<-templateParts) {
                            <td>@Option.apply(g.partsForTemplate(p.id).headOption.getOrElse(StoryPart.empty).author).getOrElse(User(-1, "")).code</td>
                        }
                    </tr>
                }
            </table>
        }


        @if(pings.size > 0) {
            <h1>Pings</h1>
            <table class="list" style="margin-top : 30 px ;">
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Active-Time</th>
                </tr>
                @for(p <- pings) {
                    @if(p.user.name != "pdeboer" && p.user.name != "erik") {
                        <tr class="bg@(counter.incrementAndGet() % 2)">
                            <td>@p.user.id</td>
                            <td>@p.user.name</td>
                            <td>@p.timeFormatted</td>
                        </tr>
                    }
                }
            </table>
        }
    }